<div class="content">
  <div class="header-box">
    <h2><%= gettext("Overview") %></h2>
  </div>
  <p><%= gettext("TODO") %></p>
</div>

<script type="text/javascript">
  document.getElementById('navbar').classList.toggle('open');
</script>
