<main role="main">
  <p class="phx-alert phx-alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= Phoenix.Flash.get(@flash, :info) %></p>

  <p class="phx-alert phx-alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= Phoenix.Flash.get(@flash, :error) %></p>

  <%= @inner_content %>
</main>
