<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <.live_title suffix=" · Rising Constellation"><%= assigns[:page_title] || "Admin" %></.live_title>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin.css") %>"/>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/admin.js") %>"></script>
  </head>

  <body>
    <header id="admin-header" class="main-header">
      <h1>
        <.link navigate={Routes.live_path(@conn, Portal.AdminLive)}>
          Rising Constellation
        </.link>
      </h1>

      <span class="info">
        <%= Node.self() %> / <%= Application.get_env(:rc, :revision) %>
      </span>

      <button class="navicon" id="nav-toggle">
        <i class="fa fa-bars"></i>
      </button>
    </header>

    <nav
      class="navbar"
      id="navbar">
      <div class="navbar-content">
        <ul>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.AdminLive)}>
              <i class="fa fa-bookmark"></i> Aperçu général
            </.link>
          </li>
        </ul>

        <ul>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.AccountsLive)}>
              <i class="fa fa-users"></i> Comptes
            </.link>
          </li>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.ProfilesLive)}>
              <i class="fa fa-user"></i> Profils
            </.link>
          </li>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.GroupsLive)}>
              <i class="fa fa-square"></i> Groupes
            </.link>
          </li>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.LogsLive)}>
              <i class="fa fa-archive"></i> Logs
            </.link>
          </li>
        </ul>

        <ul>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.InstancesLive)}>
              <i class="fa fa-th"></i> Instances
            </.link>
          </li>
        </ul>

        <ul>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.KeysLive)}>
              <i class="fa fa-key"></i> Clés Steam
            </.link>
          </li>
        </ul>

        <ul>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.MapsLive)}>
              <i class="fa fa-map"></i> Cartes
            </.link>
          </li>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.ScenariosLive)}>
              <i class="fa fa-gamepad"></i> Scénarios
            </.link>
          </li>
        </ul>

        <ul>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.MaintenanceLive)}>
              <i class="fa fa-comment"></i> Maintenance
            </.link>
          </li>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.SettingsLive)}>
              <i class="fa fa-comment"></i> Configuration
            </.link>
          </li>
          <li>
            <.link navigate={Routes.live_path(@conn, Portal.NodesLive)}>
              <i class="fa fa-comment"></i> Nodes
            </.link>
          </li>
        </ul>

        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <ul>
            <li>
              <%= link to: Routes.live_dashboard_path(@conn, :home) do %>
                <i class="fa fa-external-link-alt"></i> LiveDashboard
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= @inner_content %>
    </div>

    <script type="text/javascript">
      const button = document.getElementById('nav-toggle');
      const navbar = document.getElementById('navbar');

      button.addEventListener('click', () => { navbar.classList.toggle('open'); });
      navbar.addEventListener('click', () => { navbar.classList.remove('open'); });
    </script>
  </body>
</html>
